<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>


<div class="w3-panel w3-padding-32">
    <h1>Library 7</h1>
    <h3>detail of book from MongoDB</h3>

    <div class="w3-container w3-padding-32"
          th:object="${bookfromController}" >
        <p>
            <label for="id">Book Id</label>
            <input  type="text" name="bookId" class="w3-input" id="id"  th:field="*{id}" readonly></p>
        <p>
        <p>
            <label for="title">Title</label>
            <input  type="text" name="title" class="w3-input" style="color:slateBlue;" id="title"  th:field="*{title}" readonly></p>
        <p>
            <label for="isbn">ISBN</label>
            <input  type="text" name="isbn" class="w3-input" id="isbn" style="color:slateBlue;" th:field="*{isbn}" readonly></p>
        <p>
            <label for="pages">Pages</label>
            <input type="number" name="pages" class="w3-input" id="pages" style="color:slateBlue;" th:field="*{pages}" readonly ></p>
        <p>
            <label for="author">Author</label>
            <input  type="text" name="author" class="w3-input" id="author" style="color:slateBlue;" th:field="*{author}" readonly ></p>
        <p>
            <label for="publishedYear">Published Year</label>
            <input  type="number" name="publishedYear" class="w3-input" style="color:slateBlue;" id="publishedYear" th:field="*{year}" readonly></p>


    </div>
</div>


</body>
</html>