<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<body>

<div th:if="${message}">
  <h2 th:text="${message}"/>
</div>

<form action="#"
      th:action="@{sendBookImage}" enctype="multipart/form-data"      method="post">
  <table>
    <tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
    <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
  </table>
</form>
</body>
</body>
</html>