<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div class="w3-panel w3-padding-32">
    <h1>Library 7</h1>
    <h3>table of books from MongoDB</h3>

    <table class="w3-table-all w3-hoverable" >
        <tr th:each="book:${booksfromController}">

            <td th:text="${book.title}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.pages}"></td>
            <td th:text="${book.year}"></td>
            <td th:text="${book.author}"></td>

            <td> <a th:href ="@{deleteBook(id=${book.id})}"
                    class="w3-button w3-red">  Delete  </a> </td>

            <td> <a th:href ="@{detailBook(id=${book.id})}"
                    class="w3-button w3-cyan">  Detail </a> </td>

        </tr>
    </table>

    <p>
        <a th:href="@{/web/newBook}" class="w3-button w3-blue">Add new book</a>
    </p>
    <p>
        <a th:href="@{/web/bookImage}" class="w3-button w3-blue">Upload image</a>
    </p>

</div>
</body>
</html>